<div class="innerActivity">
  <a href="/letsdoit#activity/{{_id}}">
  <div class="activityHeader">
    <button type="button" class="close" aria-hidden="true"><span class="glyphicon glyphicon-trash"></span></button>
    <h3>{{title}}</h3>
    <div class="row">
      {{#each tags}}
        <div class="col-md-1">
          <h6><span class="label label-info">{{this}}</span></h6>
        </div>
      {{/each}}
    </div>
    <hr>
  </div>
  <div class="activityContent">
    <div class="col-md-6">    
      {{#each notes}}
        <div class="note col-md-12">
          <blockquote>
            <p>{{this}}</p>
          </blockquote>
        </div>
      {{/each}}
    </div>
    <div class="col-md-6">
    {{#each links}}
      <div class="row">
        <div class="col-md-12" >
          <div class="thumbnail loading">
            <img src="/letsdoit/images/webThumbs/{{thumbnail}}" alt="{{url}}">
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
  </a>
  <div class="activityOptions col-md-12" align="center">
    <button type="button" class="btn btn-default note" data-toggle="tooltip" title="Add Comment">
      <span class="glyphicon glyphicon-comment "></span>
    </button>
    <button type="button" class="btn btn-default url" data-toggle="tooltip" title="Add Link">
      <span class="glyphicon glyphicon-link "></span>
    </button>
    <button type="button" class="btn btn-default tag" data-toggle="tooltip" title="Add Tag">
      <span class="glyphicon glyphicon-tag "></span>
    </button>
    <button type="button" class="btn btn-default schedule" data-toggle="tooltip" title="Schedule Activity">
      <span class="glyphicon glyphicon-calendar "></span>
    </button>
  </div>
</div>
